$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: Dosis;
$font_main: Open Sans;
$font_heading_weight: 800;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #2bd095;
$action_2: #1fa3ee;
$action_3: #7c3ae9;
$color_main: #000000;
$color_heading: #999999;
$color_white: #ffffff;
$color_gray: #ebeaed;
$bg_dark: #112148;
$bg_light: #ffffff;

$color_red: #EA3223;
$color_red_hover: #e10000;
$color_green: #18c967;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #E93A7D;
$color_discord: #7289DA;